<?xml version="1.0" encoding="utf-8"?>
<!--
  React SPA on IIS (PublicWebsiteUI).

  Requires "IIS URL Rewrite" module:
  https://www.iis.net/downloads/microsoft/url-rewrite

  Without the rewrite rule below, only https://yoursite/ works.
  Direct URLs like /news, /register return 404.
-->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="PublicWebsiteUI_SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
